* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

img {
  width: 250px;
}

.required-ingredients {
  background-color: aqua;
  text-align: center;
  margin: 120px;
}

.required-ingredients ul {
  list-style-type: none;
}

.recipe-section {
  text-align: center;
}
